<AuthorizeView>
    <Authorized>
        <a href="/index">Hallo, @context.User.Identity.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Uitloggen</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Register</a>
        <a href="">Log in</a>
    </NotAuthorized>
</AuthorizeView>
