<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Project_C</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="index">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="sessieoverzicht">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Notificaties
            </NavLink>
        </li>

        <AuthorizeView Roles="Organisator, Admin">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="sessies">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Sessie aanmaken
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="employees">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Medewerkers
                </NavLink>
            </li>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
