@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Wachtwoord vergeten?";
}

<br /><br /><br />
<div class="col-11 col-md-8 m-auto">
    <h1>@ViewData["Title"]</h1>
    <h3>Neem dan contact op met de systeem beheerder</h3>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
