@page "/"
@model LoginModel

@{
    ViewData["Title"] = "CIMSOLUTIONS";
}

<style>
    .form-control {
        background-color: #8bcae8 !important;
        color: white !important;
    }
    .btn-primary {
        background-color: #73A943 !important;
    }

</style>


@*This is the login page*@
<div class="col-11 col-md-8 col-lg-4 m-auto">
    <h1>@ViewData["Title"]</h1>
</div>
    <div class="row">
        <div class="col-11 col-md-8 col-lg-4 m-auto">
            <section>
                <form id="account" method="post">
                    <hr />
                    <div class="form-group">
                        <label asp-for="Input.Email">Email</label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password">Wachtwoord</label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Wachtwoord vergeten?</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
    </div>


    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
