@page
@model RegisterModel
@{
    ViewData["Title"] = "Registreer";
}

<style>
    .form-control {
        background-color: #8bcae8 !important;
        color: white !important;
    }

    .btn-primary {
        background-color: #73A943 !important;
    }
</style>


@*This is the register page*@
<div class="col-11 col-md-8 col-lg-4 m-auto">
    <h1>@ViewData["Title"]</h1>
</div>
<div class="row">
    <div class="col-11 col-md-8 col-lg-4 m-auto">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Maak een nieuw account aan.</h4>
            <hr />
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password">Wachtwoord</label>
                <input asp-for="Input.Password" class="form-control" />
                <p>Het wachtwoord moet een hoofdletter hebben, een niet-alfanumerieke teken (bijvoorbeeld !, $, # en %) en een cijfer</p>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword">Herhaal wachtwoord</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" id="Registreer" class="btn btn-success">Registreer</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
