@page "/evaluatieformulier"

<AuthorizeView>
    <Authorized>
        <h1>Hello, @context.User.Identity.Name!</h1>
        You can only see this if you're authenticated.
    </Authorized>
    <NotAuthorized>
        You're not logged in.
    </NotAuthorized>
</AuthorizeView>

<h1>Evaluatie Formulier</h1>

Hier kan u een evaluatie formulier invullen van de laatste sessie die u heeft gevolgd.
