@page "/index"

<h1>Welkom bij CimSolutions!</h1><br />

<AuthorizeView>
    <Authorized>
        <h1>Welkom, @context.User.Identity.Name!</h1><br />
    </Authorized>
    <NotAuthorized>
        U bent niet geautoriseerd.
    </NotAuthorized>
</AuthorizeView>
<AuthorizeView Roles="Admin">
    <h1>Welkom administrator!</h1>
</AuthorizeView>